@using DAL
@using SITE.Models

@model ViewModelUsersFiles


<link href="~/Styles/w3css.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered  table-responsive-md table-fixed" style="margin-top:50px">
            <thead>
                <tr>
                    <th>#</th>
                    <th>קובץ</th>
                    <th>שם</th>
                    <th>תאריך יצירה</th>
                    <th>נוצר ע''י </th>
                    <th>הערה</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.Files)
                {
                    <tr>
                        <td>
                            <div class="dropdown-container">
                                <a data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-h" style="color:#110909"></i>
                                </a>
                                <ul class="dropdown-menu" id="OptionsOfShares">
                                    <li>
                                        <a onclick="document.getElementById('modalForShare').style.display = 'block'">
                                            שתף קובץ
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="hideAllEmailUsers();document.getElementById('modalForSendingEmail').style.display = 'block'">
                                            שלח קובץ בדוא''ל
                                        </a>
                                    </li>
                                    <li><a>מחק קובץ</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            @Html.ActionLink(" ", "OpenFile",  new { fileName = file.ID }, new { @class = "far fa-file-word" })
                        </td>
                        <td>@file.Desctiption</td>
                        <td>@file.Date_Creation</td>
                        <td>
                            @Model.Users.FirstOrDefault(x => x.TZ == file.CreatorID).UserName
                        </td>

                        <td>
                            @if (Model.FilesDetail.FirstOrDefault(x => x.ID == file.ID) != null)
                            {
                                @Model.FilesDetail.FirstOrDefault(x => x.ID == file.ID).Remarks
                            }
                            else
                            {
                                <p>---</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--start buttons above the grid-->
@Html.ActionLink("הוספת תבנית", "Template")
<!--end buttons above the grid-->
<!----start modal form sending email -->
<div class="w3-container">
    <div id="modalForSendingEmail" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:500px">
            <div class="modal-header">
                <span onclick="document.getElementById('modalForSendingEmail').style.display = 'none'" class="close">
                    &times;
                </span>
            </div>
            <form class="w3-container" action="Home/SendEmail" method="post">
                <div class="form-group">
                    <label for="">נושא</label>
                    <input type="text" name="subject" class="form-control" id="exampleInputPassword1" placeholder="הכנס נושא">
                </div>
                <div class="form-group">
                    <label for="">כתובת אימייל</label>
                    <input type="email" autocomplete="off" multiple="multiple" class="form-control" placeholder="הכנס כתובת אימייל" id="shareEmail" name="emailAddress" oninput="filterEmail()">
                    <div id="divAllEmails" class="list-group">
                        @foreach (var user in Model.Users)
                        {
                            <button class="aItemEmail list-group-item" onclick="selectEmail(this.textContent)">@user.Email</button>
                        }
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="margin:15px">שלח</button>
            </form>
        </div>
    </div>
</div>
@*------------end form for sending email----------*@

<!------start  form for share file -------->
<div class="w3-container">
    <div id="modalForShare" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:500px">
            <div class="modal-header">
                <span onclick="document.getElementById('modalForShare').style.display = 'none'" class="close">
                    &times;
                </span>
            </div>
            <form class="w3-container" action="Home/ShareFile" method="post">
                <div class="form-group">
                    <label for="">שם משתמש</label>
                    <input type="text" name="userName" class="form-control" id="exampleInputPassword1" placeholder="הכנס שם משתמש">
                    @*
                                            האם צריך שורות אלו??????????????
                        @if (ViewBag.validateUserName != null)
                        {
                            <div class="alert alert-danger">@ViewBag.validateUserName</div>
                        }*@
                </div>
                <button type="submit" class="btn btn-primary" style="margin:15px">שתף     <i class="fa fa-share"></i></button>
            </form>
        </div>
    </div>
</div>
@*------------end  form for share file----------*@
<script>
    $('.dropdown-toggle').dropdown()
    function downloadFile() {
        var file = new File(["aa"], "123456789.doxc")
        var link = document.createElement("a");
        link.download = file.name;
        link.href = file;
        link.click();
    };


    function hideAllEmailUsers() {
        var ul = document.getElementById("divAllEmails");
        var li = ul.getElementsByClassName("aItemEmail");
        for (var i = 0; i < li.length; i++) {
            li[i].style.display = "none";
        }
    };

    function filterEmail() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("shareEmail");
        filter = input.value;
        ul = document.getElementById("divAllEmails");
        li = ul.children;
        for (var i = 0; i < li.length; i++) {
            if (li[i].textContent.indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    };

    function selectEmail(e) {
        console.log(e)
        debugger
      
        input = document.getElementById('shareEmail');
        input.value = e;
    };

    $('#emailShareUser').change(function () {

    })

</script>
<style>

    .dropdown-container {
        position: relative;
    }

    #OptionsOfShares {
        position: absolute;
        right: 0;
        margin-right: 18px !important;
        top: 2px;
        width: 0px;
    }

    #shareOptionsModal {
        display: none;
        width: 500px;
        height: 400px;
        position: absolute;
        width: 50%;
        height: 50%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .w3-modal {
        margin-top: 50px;
    }
    /*-------start ---------*/

    /*-------end------------*/
    a {
        cursor: pointer;
    }
</style>