@using SITE.Models
@model ViewModelUsersFiles

@{
    ViewBag.Title = "Index";
}
<button onclick="document.getElementById('modalFileDetails').style.display = 'block';hideCategories()">
    קובץ חדש
</button>
<div class="row">
    <div class="col-sm-12 well" style="margin-top:60px;height:80px">
        <form class="form-inline" method="get">
            <div class="row">
                <div class="col-sm-2">
                    <div class="dropdown" style="display:inline-block">
                        <a name="category" class="form-control dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>
                                בחר קטגוריה
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            @*  <li><a href="#">אפיוני פרויקטים</a></li>
                                <li><a href="#">הודעות על מסיבות</a></li>
                                <li><a href="#">מכתבי פיטורין</a></li>
                                <li><a href="#" onclick="changeCategpty(this.value)"קבצים שונים</a></li>
                                <li>@Html.ActionLink("קבצים שונות", "SearchByCategory", new { category = "allKinds" })</li>
                            *@
                            @foreach (var category in Model.Categories)
                            {
                                <li><a href="#" name="@category.Description">@category.Description</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group" style="display:inline-block;width:100%">
                        <input name="fileCreator" class="form-control" id="fileFileCreator" style="margin-right:8px;width:100%"
                               placeholder="יוצר הקובץ" oninput="filterUsersNames()" />
                        <ul id="allUsersNames" class="row" style="padding-right:22px;padding-left:6px">
                            @foreach (var user in Model.Users)
                            {
                                <li class="userName list-group-item col-sm-12" style="cursor:pointer;z-index:500"
                                    onclick="selectUser()">
                                    @user.UserName
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-sm-2">
                    <input name="startDate" type="date" class="form-control" placeholder="" style="width:100%;min-width: 178px" />
                </div>
                <p style="position: absolute;color: gray;margin-top:34px;left: 41%">טווח תאריכים של יצירת הקובץ</p>

                <div class="col-sm-2">
                    <input name="endDate" class="form-control" type="date" placeholder="" style="width:100%;min-width:178px" />
                </div>

                <div class="col-sm-3">
                    @*<input name="freeText" class="form-control" style="max-width:180px" type="search" placeholder="טקסט חופשי" aria-label="Search">*@
                       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">חיפוש</button>
                    @Html.ActionLink("חיפוש","Search","Home",new { content="" },new { @class="btn btn-outline-success my-2 my-sm-0", @type="submit" })
                </div>
            </div>
        </form>
    </div>
</div>

@*------------modal for new file----------*@
<div class="w3-container">
    <div id="modalFileDetails" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:500px;direction:rtl">
            <div class="modal-header">
                <span onclick="document.getElementById('modalFileDetails').style.display = 'none'" class="close">
                    &times;
                </span>
            </div>
            <form class="w3-container" action="Home/CreateFile" method="post">

                <div class="form-group">
                    <label for="" style="direction:rtl">קטגוריה</label>
                    <input type="text" name="fileCategory" autocomplete="off" onfocus="showCategories()" class="form-control" id="inputCategory" placeholder="בחר קטגוריה">
                    <ul class="list-group" id="listCategories"style="padding:0;cursor:pointer">
                        @foreach (var category in Model.Categories)
                        {
                            <li class="list-group-item" onclick="changeCategory(this.textContent)">@category.Description</li>
                        }
                    </ul>
                </div>
                
                <div class="form-group">
                    <label for="">תיאור הקובץ</label>
                    <input type="text" name="filedesc" class="form-control" id="exampleInputPassword1" placeholder="הכנס תיאור קובץ" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="">סוג קובץ</label>
                    <input type="text" name="fileKind" class="form-control" id="inputFileExtention" placeholder="בחר פורמט קובץ">
                    <ul class="list-group" id="listExtnentions" style="padding:0;cursor:pointer">
                        @foreach (var extnetion in Model.Extentions)
                        {
                            <li class="list-group-item" onclick="changeFormat(this.textContent)">@extnetion.Extension1</li>
                        }
                    </ul>
                </div>
                <div class="form-group">
                    <label for="">הערות</label>
                    <input type="text" name="remark" class="form-control" id="exampleInputPassword1" placeholder="הכנס נושא">
                </div>
                <button type="submit" class="btn btn-primary" style="margin:15px">צור קובץ  </button>
            </form>
        </div>
    </div>
</div>

@Html.Partial("_PartialViewTable", Model)

<style>
    .modalFileDetails {
        display: none;
    }

    ul {
        direction: rtl;
    }

    td {
        width: 1px;
        white-space: nowrap;
    }

    th {
        text-align: right;
        width: 1%;
        white-space: nowrap;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%; /* Bottom of button */
        right: 0;
        margin-left: 100px; /* More to the left */
        margin-right: 0px; /* More to the left */
        width: 100%;
    }
</style>
<script>

    function changeCategory($event) {
        document.getElementById('inputCategory').value = $event;
        var ul = document.getElementById("listCategories");
        ul.style.display = "none";
    }

    function changeFormat($) {

    }

    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.form-control').html($(this).text());
        $(this).parents(".dropdown").find('.form-control').val($(this).data('value'));
    });

    function hideCategories() {
        var ul = document.getElementById("listCategories");
        ul.style.display = "none";
    }

    function showCategories() {
        var ul = document.getElementById("listCategories");
        ul.style.display = "block";
    }

    function selectUser($event) {
        let currentUser = event.target.textContent;
        currentUser = currentUser.trim();
        document.getElementById('fileFileCreator').value = currentUser;
    }
    function filter(e) {
        alert('search')
        debugger
        console.log(e)
    }
    $(window).load(
        function () {
            var input, filter, ul, li, a, i;
            input = document.getElementById("fileFileCreator");
            filter = input.value;
            ul = document.getElementById("allUsersNames");
            li = ul.children;
            for (var i = 0; i < li.length; i++) {
                li[i].style.display = "none";
            }
        }
    )

    function filterUsersNames() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("fileFileCreator");
        filter = input.value;
        ul = document.getElementById("allUsersNames");
        li = ul.children;
        for (var i = 0; i < li.length; i++) {
            if (li[i].textContent.indexOf(filter) > -1) {
                li[i].style.display = "block";
            } else {
                li[i].style.display = "none";
            }
        }
    };

    $("#fileFileCreator").keydown(function (e) {
        if (e.keyCode == 40) {
            ul = document.getElementById("allUsersNames");

        }
    });

</script>
<script type="text/javascript">
</script>
